body {
    font-family: 'Montserrat', sans-serif; 
    color:black;
    background-color: yellow;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu {
    margin-top: 10px;
}
.menu__item {
    font-weight: 700;
    font-size: 14px;
}

.menu__item a {
    color: darkgray;
}

.book {
    background: chocolate;
    color: black;
    font-size: 14px;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: 700;
    display: block;
    cursor: pointer;
    width: 200px;
    border: 0;
    margin-top: -5px;
}

.book__icon {
    background: url('../img/phone-call.png');
    width: 21px;
    height: 21px;
    display: block;
}

.main-header {
    padding: 24 px 0;

}

.offer {
    background: url('../img/Backgrounds_Black.jpg') no-repeat center top;

}

.title {
    padding: 200px 0;
}