html {
  font-size: 14px;
}

.header {
  height: 52px;
  background: rgb(31 31 31);
}

.header img {
  max-height: 52px;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.line {
  border-bottom: 1px solid rgb(31 31 31);
  padding: 5px 0
}

.services {
  min-height: 530px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
}

.services ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.services ul li {
  padding: 0 5px;
}

.service-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.services-list {
  padding-bottom: 10%;
  padding-top: 2rem;
}

.service-item {
  border-radius: 25px;
  background: #858e99;
  padding: 15px;
  margin: 10px;
  font-weight: 500;
  float: left;
  min-width: 280px;
  text-align: center;
}

.description {
  padding: 10% 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-name {
  font-size: 5rem;
}

.company-title {
  font-size: 2rem;
}