body {
    font-family: 'Montserrat', sans-serif; 
    color: white;
    background-color: yellow;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu {

}
.menu__item {
    font-weight: 700;
    font-size: 14px;
}

.menu__item a {
    color: whitesmoke;
}

.book {
    background: white;
    color: black;
    font-size: 14px;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: 700;
    display: block;
    cursor: pointer;
    width: 200px;
    border: 0;
}